<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to Token View
    </h1>
  </div>
  <div class="card p-sm">
      <div class="col-sm-12">
          <label for="Select token" class="col-sm-3">Select Label</label>
          <div class="col-sm-9">
            <select name="token select" id="Select token" [(ngModel)]="selectedToken">
              <option [ngValue]="undefined" disabled>Select Token</option>
              <option *ngFor="let token of tokens" [ngValue]="token">{{token.name}}</option>
            </select>
          </div>
        </div>
        <div class="gap20"></div>

        <div class="clear"></div>

        <div class="col-sm-12">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-primary" (click)="fetchData()">Submit</button>
          </div>
        </div>
  </div>
</div>
